.card__placeholder{
    height: 280px;
    animation: image-loding 1s linear infinite alternate;
    -webkit-animation: image-loding 1s linear infinite alternate;
}
.card{
    opacity: 0;
}
@keyframes image-loding {
    0%{
        background-color: hsl(200, 20%, 80%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}